<!DOCTYPE html>
<html>
    <title>
        Comp 2406 Home
    </title>
    <head>
        <%- include('public/partials/head'); %>
    </head>
    <body id="not-found">
        <header>
            <%- include('public/partials/header'); %>
        </header>
        404
    </body>
</html>