<!DOCTYPE html>
<html>
    <title>
        Comp 2406 Home
    </title>
    <head>
        <%- include('public/partials/head'); %>
    </head>
    <body id="homepage">
        <header>
            <%- include('public/partials/header'); %>
        </header>

        <div class="searchBar">
            <input id="search" placeholder="Search" onkeydown="search()"></input>
            <select id="filter">
                <option value="Title">Title</option>
                <option value="Genre">Genre</option>
                <option value="Person">Person</option>
            </select>
        </div>
        <div id="results">
        </div>
    </body>
</html>