<!DOCTYPE html>
<html>
    <title>
        Comp 2406 Person
    </title>
    <head>
        <%- include('public/partials/head'); %>
    </head>
    <body id="personpage" class="pageview">
        <header>
            <%- include('public/partials/header'); %>
        </header>

        <div class="row">
            <div class="leftcolumn">
                <div class="card">
                    <div class="personimage"></div>
                    <p class="bigtext">Charlie Sheen</p>
                    <p class="littletext">September 3, 1965</p>
                    <p class="littletext">USA</p>
                </div>
            </div>
            <div class="rightcolumn">
                <div class="column">
                    <div class="card">
                        <p class="bigtext">Bio</p>
                        <p class="littletext">Charlie Sheen was born Carlos Irwin Estévez on September 3, 1965, in New York City.</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <p class="bigtext">Filmography</p>
                        <p class="littletext"><a href="movie">Two and a half men</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>