<div class="topBar">
    <button id = "home" type="button" onclick="home()">
        Home
    </button>
    <span id = "title"> C2MD </span>
    <button id = "sign-in" type="button" onclick="signinPage()">
        Sign In
    </button>
</div>